<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5f484ee32b.js" crossorigin="anonymous"></script>
    <title>To Do List</title>
</head>
<body>
    <div style="min-height:100vh" class="d-flex  justify-content-center align-items-center">
        <div class="containter-to-do d-flex flex-column align-items-center">
            <section style="width:100%" class="m-4">
                <form class="w-100 d-flex justify-content-between" method="POST" action="{{url_for('processa_cadastro')}}">
                    {{form.descricao(placeholder='Insira aqui uma tarefa', class='input-descricao')}}
                    {{form.cadastrar(class='input-cadastrar')}}
                </form>

                <div class="mt-3 d-flex flex-column justify-content-center align-items-center">
                    <div class="opcoes-links">
                        <a class="status-todos" href="{{ url_for('index', status='Todos')}}">Todos</a>
                        <a class="status-em-andamento"  href="{{ url_for('index', status='Em andamento')}}">Em andamento</a>
                        <a class="status-pendente" href="{{ url_for('index', status='Pendente')}}">Pendente</a>
                        <a class="status-finalizado" href="{{ url_for('index', status='Finalizado')}}">Finalizados</a>
                    </div>
                </div>

            </section>
            <section style="width:100%">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descricao</th>
                                <th>Status</th>
                                <th>Data Cadastro</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        {% for tarefa in tarefas %}
                        <tr>
                            <td>{{tarefa.id}}</td>

                            <td class="col-descricao" descricao>{{tarefa.descricao}}</td>

                            {% if tarefa.status == 'Finalizado': %}
                                <td><div class="status" style="background:#00B74A;">{{tarefa.status}}</div></td>
                            {% elif tarefa.status == 'Pendente':%}
                                <td><div class="status" style="background:#691AE2;">{{tarefa.status}}</div></td>
                            {% else %}
                                <td><div class="status" style="background:#FFA900;">{{tarefa.status}}</div></td>
                            {% endif %}

                            <td>{{tarefa.data_cadastro.strftime('%d/%m/%Y %H:%M')}}</td>

                            <td class="icons text-center" >
                              <a href="{{url_for('deletar', id=tarefa.id, status=status_view)}}" style="background:#F93154;"><i class="fa-solid fa-trash"></i></a>
                              {% if not tarefa.status == 'Finalizado': %}
                                <a style="cursor:pointer;background:#FFA900;" onclick="editar(event, {{tarefa.id}}, {{pagination.page}}, '{{status_view}}')"><i class="fa-solid fa-pen-to-square"></i></a>
                                 {% if tarefa.status == 'Pendente': %}
                                    <a href="{{url_for('tornar_em_andamento', id=tarefa.id, page=pagination.page, status=status_view)}}" style="background: #00B74A;"><i class="fa-solid fa-play"></i></a>
                                 {% else %}
                                    <a href="{{url_for('finalizar', id=tarefa.id, page=pagination.page, status=status_view)}}" style="background: #00B74A;"><i class="fa-solid fa-check"></i></a>
                                 {% endif %}
                              {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="text-center paginas mt-3 mb-2" >
                    {% if pagination.has_prev %}
                        <a href="{{ url_for('index', status=status_view, page=pagination.prev_num)}}"><i class="fa-solid fa-arrow-left"></i></a>
                    {% else %}
                        <a style="color: #ccc !important;background: #F2F2F2;"><i class="fa-solid fa-arrow-left"></i></a>
                    {% endif %}
                    <span class="mx-2" >{{ pagination.page }} de {{ pagination.pages }}</span>
                    {% if pagination.has_next %}
                        <a  href="{{ url_for('index', status=status_view, page=pagination.next_num)}}"><i class="fa-solid fa-arrow-right"></i></a>
                    {% else %}
                        <a style="color: #ccc !important; background: #F2F2F2;"><i class="fa-solid fa-arrow-right"></i></a>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
<script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>